.create-article-container
  - if notice.present?
    %p.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block#notice
      = notice
  %h1= "Articles"
  %p= @random_quote
  .my-5.flex-col
    - @articles.each do |article|
      .blog-card
        .col-span-2
          = link_to article do
            %h4= article.title
          %p= article.get_article_date
          - if !article.article_owner(current_user)
            = link_to "@#{article.get_author.handle}", author_path(article.get_author)
          - else
            = link_to 'edit', edit_article_path(article)
        .col-span-1
          .small-card.col-span-2
            = "#{article.total_gem_transfers}"
            %i.bi.bi-gem
          -# - else
          -# .submit-btn-primary.border.px-2
          -# %i.bi.bi-gem
          -# = "#{article.user_gem_transfers(current_user)}"
