<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :date_verified %>
    <%= form.date_select :date_verified, include_blank: true %>
  </div>

     <div class="field">
        <%= form.label :is_verified %>
        <%= form.select :is_verified, [['No', false], ['Yes', true]] %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
