%p{:id=>"notice"}= notice 

%h1 Authors
%p{:class => "subtitle"} Find me in app/views/authors/index.html.haml

%div{:class => "my-5 flex-col"}
    %div{:class => "overflow-x-auto shadow-md sm:rounded-lg" }
        %div{:class => "inline-block min-w-full align-middle"}
            %div{:class => "overflow-hidden"}
                %table
                    %thead
                        %tr
                            %th Name
                            %th Address
                            %th Verified
                            %th{ :colspan => "4"} Actions
                    %tbody
                        -@authors.each do |author|
                            %tr{:class => "table__row"}
                                %td{:class => "capitalize"}= author.name
                                %td= author.address
                                -if author.is_verified 
                                    %td= author.date_verified
                                -else
                                    %td
                                        %button{:class => "btn-secondary"}= button_to 'Verify Now', verify_author_path(author), method: :patch, data: { confirm: "Verify this author now?" } 
                                %td{:class=>"table__row--link"}=link_to 'view', author 
                                %td{:class=>"table__row--link"}=link_to 'edit', edit_author_path(author) 
                                %td{:class=>"table__row--link"}=link_to 'delete', author, method: :delete, data: { confirm: 'Are you sure?' } 
                                %td{:class=>"table__row--link"}=link_to 'verify', verify_author_path(author) 
%div{:class => "w-full flex justify-center mt-10"}
    %button{:class => "btn-primary"}=  link_to 'Create New Author', new_author_path 
