<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th style="padding: 20px">Name</th>
      <th style="padding: 20px">Address</th>
      <th style="padding: 20px">Verified</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td style="text-align:center;"><%= author.name %></td>
        <td style="text-align:center;"><%= author.address %></td>
        <td style="text-align:center;"><%= author.is_verified ? author.date_verified : 'not verified'  %></td>
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Verify', verify_author_path(author) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>
